################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IdentityApi/obj/Debug/netcoreapp3.1
/IdentityApi/obj
/IdentityApi.DataCore/obj
/IdentityApi.Domain/obj
/Utility/obj
/Denver.DataAccess/obj
/.vs/Denver/v16
